.widget {
    position: relative;
    margin: auto;
    width: 800px;
    min-height:100%;

    &__dribbble {
        margin:auto;
        background-color: $color-main;
        height:600px;
    }

    &__prompt {
        background-color: $color-main;
    }

    &__button {
        background-color: $color-main;
    }
}