.widget {
    background-color: $color-main;

    &__dribbble {
        background-color: $color-main;
    }

    &__prompt {
        background-color: $color-main;
    }

    &__button {
        background-color: $color-main;
    }
}